package component

templ List(texts []string) {
	<ul>
		for _,text := range texts {
			<li>{ text }</li>
		}
	</ul>
}

func init() {
	RegisterExample("/list", List([]string{
		"English, New York, Spanish, Madrid",
		"Mandarin, Beijing, French, Paris",
		"German, Berlin, Portuguese, Lisbon",
		"Russian, Moscow, Japanese, Tokyo",
		"Italian, Rome, Arabic, Cairo",
		"Korean, Seoul, Hindi, New Delhi",
	}))
}
